{%- if product.featured_media -%}
<div class="image">
  {%- assign widths = '375, 500, 600' -%}
  {%- capture sizes -%}100vw{%- endcapture -%}
  <div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}">
  <a class="grid-view-item__link {% if product.images.size > 1 %} has-secondary{% endif %}" href="javascript:void()">
    {{ product.featured_image.src | image_url: width: 500 | image_tag: loading: 'lazy', fetchpriority: 'low', sizes: sizes, widths: widths, content-visibility: 'auto', class: 'grid-view-item__image' }}
    {% if product.images.size > 1 %}
     {{ product.images[1] | image_url: width: 500 | image_tag: loading: 'lazy', fetchpriority: 'low', sizes: sizes, widths: widths, content-visibility: 'auto', class: 'secondary' }} 
    {% endif %}
  </a>
</div>

</div>
{%- endif -%}

<style>
.has-secondary.grid-view-item__link img.secondary{
 display:none;
}
.has-secondary.grid-view-item__link:hover img.secondary{
 display:block;
}
.has-secondary.grid-view-item__link:hover img.grid-view-item__image{
 display:none;
}
@media screen and (min-width:767px){
.has-secondary.grid-view-item__link img.secondary{
 display:none;
}
.has-secondary.grid-view-item__link:hover img.secondary{
 display:block;
}
.has-secondary.grid-view-item__link:hover img.grid-view-item__image{
 display:none;
}
}
@media screen and (max-width:767px){
.has-secondary.grid-view-item__link img.secondary{
 display:none;
}
}
</style>
